/* Helpers 
====================== */
.u-xs-hideInlineBlock,
.u-xs-hideBlock {
  display: none !important;
}

.u-xs-showBlock {
  display: block !important;
}

.u-xs-showInlineBlock {
  display: inline-block !important;
}

@media (min-width: 768px) {
  .u-xs-showBlock,
  .u-xs-showInlineBlock {
    display: none !important;
  }

  .u-xs-hideBlock {
    display: block !important;
  }

  .u-xs-hideInlineBlock {
    display: inline-block !important;
  }
}
.u-btn {
  width: 25px;
  height: 25px;
  border: 0;
  background: transparent;
  -webkit-transition: all .1s ease;
  transition: all .1s ease;
  cursor: pointer;
  white-space: nowrap;
  text-transform: none;
  overflow: hidden;
  font-size: 16px;
}
.u-btn:hover {
  background: rgba(255, 255, 255, 0.3);
}
.u-btn:hover .nav-handle {
  background: rgba(255, 255, 255, 0.6);
}
.u-btn:focus, .u-btn:active {
  outline: none;
}

.u-btn--circle {
  border-radius: 50%;
}

.u-btn--medium {
  width: 30px;
  height: 30px;
}

.u-btn--large {
  width: 45px;
  height: 45px;
}

.u-btn--play {
  display: none;
}

/* Global 
====================== */
html {
  box-sizing: border-box;
  height: 100%;
}
html *,
html *:before
*:after {
  box-sizing: inherit;
}

body {
  font-family: "Poppins", "Helvetica Neue", Helvetica, Arial;
}

body,
.wrapper {
  min-height: 100vh;
}

/* Screen
====================== */
.wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #eef1f5;
}

.screen {
  width: 100%;
  max-width: 760px;
  margin: 20px;
  border-radius: 10px;
  background: #086bf1;
  color: #fff;
  overflow: hidden;
}

.header {
  padding: 10px 10px 0;
  margin: 0 auto 25px;
}

.nav-innerWrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

.nav-handle {
  height: 2px;
  width: 20px;
  margin-bottom: 4px;
  background: rgba(255, 255, 255, 0.4);
  border-radius: 1px;
  -webkit-transition: all .1s ease;
  transition: all .1s ease;
}
.nav-handle:last-child {
  margin: 0;
}

/* Details Component
====================== */
.details {
  padding: 0 22px;
  margin-bottom: 15px;
}

.details-title,
.session-title {
  font-size: 13px;
  letter-spacing: 0.2px;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.4);
}

.details-name {
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: .35px;
  color: #f1f1f3;
}

/* Session Timer Component
====================== */
.session-title {
  padding: 0 22px;
  margin-bottom: 20px;
}

.session-time {
  padding: 20px 20px 35px;
  background: #070707;
  box-shadow: 0 40px 84px 0 rgba(0, 0, 0, 0.8);
}

.session-timeHeader,
.session-timeType {
  color: rgba(255, 255, 255, 0.3);
  text-transform: uppercase;
}

.session-timeHeader {
  margin-bottom: 20px;
  font-size: 13px;
}

.session-timeHeaderCurrent {
  display: inline-block;
  text-align: left;
  margin-left: 5px;
  letter-spacing: .25px;
}

.session-timeCounter {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 250px;
}

.session-timeWrapper {
  position: relative;
  -webkit-box-flex: 1.1;
  -webkit-flex: 1.1;
      -ms-flex: 1.1;
          flex: 1.1;
  font-size: 42px;
  line-height: 1;
}
.session-timeWrapper:after {
  position: absolute;
  top: 15%;
  right: 15%;
  content: ":";
  vertical-align: middle;
  font-size: 30px;
  color: rgba(255, 255, 255, 0.3);
}
.session-timeWrapper:nth-of-type(2) {
  -webkit-box-flex: 1.3;
  -webkit-flex: 1.3;
      -ms-flex: 1.3;
          flex: 1.3;
}
.session-timeWrapper:nth-of-type(2):after {
  right: 15%;
}
.session-timeWrapper:nth-of-type(3) {
  -webkit-box-flex: 1.5;
  -webkit-flex: 1.5;
      -ms-flex: 1.5;
          flex: 1.5;
}
.session-timeWrapper:nth-of-type(3):after {
  right: 10%;
}
.session-timeWrapper:last-of-type {
  -webkit-box-flex: 0.75;
  -webkit-flex: 0.75;
      -ms-flex: 0.75;
          flex: 0.75;
}
.session-timeWrapper:last-of-type:after {
  display: none;
}

.session-timeDigits {
  position: relative;
  display: inline-block;
  letter-spacing: 2px;
}

.session-timeType {
  font-size: 12px;
  letter-spacing: .35px;
}

/* Media Queries */
@media (min-width: 768px) {
  .screen {
    padding: 40px;
    overflow: visible;
  }

  .header {
    padding: 1px 13px 0;
    margin: 0 auto 37px;
  }

  .details {
    padding: 0 25px;
    margin-bottom: 35px;
  }

  .details-title,
  .session-title {
    font-size: 14px;
  }

  .session-title {
    padding: 0 25px;
    margin-bottom: 31px;
  }

  .session-time {
    max-width: 680px;
    padding: 38px 30px 35px 60px;
    border-radius: 8px;
  }

  .session-timeHeader,
  .session-timeType {
    font-size: 14px;
  }

  .session-timeHeaderCurrent {
    float: right;
    margin: 0 22.5px 0 0;
  }

  .session-timeCounter {
    max-width: 100%;
  }

  .session-timeWrapper {
    padding-left: 4px;
    font-size: 72px;
  }
  .session-timeWrapper:after {
    top: 29%;
    right: 31%;
  }
  .session-timeWrapper:nth-of-type(2):after {
    right: 23%;
  }
  .session-timeWrapper:nth-of-type(3):after {
    right: 26%;
  }

  .session-timeType {
    padding-left: 4px;
  }
}